header{
    height: 100px;
}
nav{
    min-width: 100px;
    height:calc(100vh - 100px);
    background-image: url(img/sidebar-bg.png);
    background-color:#051E34;
}
section{
    height: calc(100vh - 100px);
    width: auto;
}
.my-container{
    width: 90%;
    margin: 0 10px;
}
/* Utilitis */
.blue{
    background-color:#1B72E8;
    height: 200px;
    min-width: 100vw;
}
table img{
    width: 30px;
}